go 1.20

use ./data-structures/queue

use ./data-structures/linkedlist

use ./data-structures/array

use ./data-structures/hashtable

use ./test/data-structures/queue_test

use ./test/data-structures/linkedlist_test

use ./test/data-structures/hashtable_test
